[submodule "tests/tags"]
	path = tests/tags
	url = git@github.com:sstarcher/helm-release-tags.git
[submodule "tests/notag"]
	path = tests/notag
	url = git@github.com:sstarcher/helm-release-notag.git
[submodule "tests/notags"]
	path = tests/notags
	url = git@github.com:sstarcher/helm-release-notags.git
