[submodule "tests/tags"]
	path = tests/tags
	url = https://github.com/sstarcher/helm-release-tags.git
[submodule "tests/notags"]
	path = tests/notags
	url = https://github.com/sstarcher/helm-release-notags.git
	branch = master
